body{
	background-color: #FFD5E6;
	font-family: 'Press Start 2P', cursive;
}
h2{
	color: #6F00FF;
	font-family: 'Bungee Inline', cursive;
	text-transform: uppercase;
}
h1{
  text-align: center;
  line-height: 75px;
  font-size: 30;
}
h3{
	padding-top: 20px;
}
.navbar-brand h1 { 
  color: #FF00A2;
  text-shadow: 1px 0px 5px #FF00A2; 
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}
.navbar-brand {
  padding-top: 25px; 
  padding-bottom: 55px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FF0091;
}
.navbar-header button.navbar-toggle {
  margin-top: 20px;
}
#header-nav {
  background-color: #8DE1FF;
  border-radius: 0;
  border: 0;
}
#nav-list li {
	height: 30px;
	margin-bottom: 15px;
	margin-top: 15px;
}
#nav-list li span {
	color: #FF0091;
	font-weight: bold;
	line-height: 15px;
}
@media (max-width: 767px) {
	section.col-xs-12 {
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 12px;
		padding-bottom: 8px;
	}
	button {
		line-height: 0px;
	}
	.navbar-brand h1{
		font-size: 1.5em;
	}
	#box {
		margin-top: 0;
	}
    .visible-xs {
	    padding: 0;
	    margin: 0;
}

#collapsable-nav {
	border: 1px solid white;
}

}
#box {
	background-color: #FFC9DE;
	color: #FC629F;
	width: 100%;
	height: 300px;
	margin-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	overflow: auto
}
