body{
	background-color: #FFD5E6;
	font-family: 'Press Start 2P', cursive;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#header-nav {
  background-color: #8DE1FF;
  border-radius: 0;
  border: 0;
}
h1{
  text-align: center;
  line-height: 75px;
  font-size: 30;
}
#eu{
	background-color: #8DE1FF;
	height: 125px;
}
.box{
	padding:15px;
}
button{
	float: right;
}
.glyphiacon{
	font-weight: 600;
}
.header-nav .container{
	margin:0 !important;
}
.btn-default {
    color: #333;
    background-color: lightgrey;
    border-color: #ccc;